.best {
    padding-top: 372px;
}

.best__main {
    display: flex;
    justify-content: space-between;
}

.best__info {
    margin-top: 76px;
}

.best__title {
    font-family: 'Futura Md BT';
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
}

.best__text {
    margin-top: 32px;
    font-family: 'Futura Bk BT';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.best__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border: 1px solid #fff;
    border-radius: 36px;
    width: 157px;
    height: 36px;
    font-family: 'Futura Bk BT';
    font-weight: 400;
    font-size: 16px;
    line-height: 75%;
}

.best__button img {
    max-width: 24px;
}

.best__gallery {
    display: grid;
    grid-template-rows: 0fr 1fr;
    grid-template-columns: 0fr 1.34fr;
    position: relative;
}

.best__gallery::before {
    content: '';
    position: absolute;
    top: -65px;
    left: 65px;
    width: 580.55px;
    height: 586.35px;
    border-radius: 100%;
    filter: blur(250px);
    background: conic-gradient(from 180deg at 50% 50%, rgba(186, 0, 0, 0.28) 0deg, rgba(186, 0, 0, 1) 0deg, rgba(186, 0, 0, 0.28) 360deg, rgba(186, 0, 0, 1) 360deg);
    z-index: -1;
}

.best__gallery-item:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.best__gallery-item:nth-child(2) {
    grid-column: 2 / 4;
    margin-left: 40px;
}

.best__gallery-item:nth-child(3) {

    margin: 28px 0 0 100px;
}

.best__gallery-item img {
    border-radius: 10px;
}