.favorite {
    padding-top: 160px;
}

.favorite__title {
    font-family: 'Futura Md BT';
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.favorite__title span {
    color: #ba0000;
}

.favorite__title span:first-child {
    position: relative;
    font-family: 'Futura Lt BT';
}

.favorite__title span:first-child::before {
    content: '';
    position: absolute;
    bottom: -23px;
    left: 15px;
    width: 140px;
    height: 32px;
    background: url('../img/blur.png');
}

.favorite__shoes {
    margin-top: 110px;
    display: flex;
    justify-content: end;
    gap: 82px;
}

.favorite__shoes-box {
    position: relative;
    min-width: 313px;
}

.favorite__shoes-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 292px;
    height: 292px;
    border-radius: 100%;
    filter: blur(110px);
    background: conic-gradient(from 90deg, rgb(255, 0, 0) 0deg, rgb(255, 0, 0, 0) 360deg);
    z-index: -1;
}

.favorite__shoes-box:nth-child(1) img {
    margin-top: -14px;
    margin-left: 4px;
}

.favorite__shoes-box:nth-child(2) img {
    margin-top: -57px;
}

.favorite__shoes-box:nth-child(3) img {
    margin-top: -50px;
    margin-left: 11px;
}

.shoes-box__title {
    margin-top: 34px;
    font-family: 'Futura XBlkCnIt BT';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.favorite__shoes-box span {
    margin-top: 14px;
    display: block;
    font-family: 'Futura XBlkCnIt BT';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 80%;
    text-align: right;
    color: #ba0000;
}