.footer {
    padding-top: 298px;
}

.footer__top-main {
    min-height: 160px;
    display: flex;
    align-items: center;
}

.footer__block {
    display: flex;
    align-items: center;
}

.footer__block:nth-child(2) {
    margin-left: 182px;
}

.footer__block:nth-child(3) {
    margin-left: 131px;
}

.footer__block:nth-child(4) {
    margin-left: 116px;
}

.footer__block-img {
    pointer-events: none;
}

.footer__block-info {
    margin-left: 16px;
}

.footer__block-title {
    font-family: 'Futura Hv BT';
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.footer__block-text {
    font-family: 'Futura Bk BT';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

/* =================================== */

.footer__bottom-main {
    padding: 72px 0 80px;
    display: flex;
    justify-content: space-between;
}

.block__title {
    font-family: 'Futura LT';
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-transform: capitalize;
}

.contact {
    margin-top: 32px;
    position: relative;
    display: block;
    max-width: 399px;
}

.contact span {
    position: absolute;
    top: 5px;
    left: 25px;
    font-family: 'Futura LT';
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.contact__input {
    padding: 16px 0 16px 83px;
    width: 100%;
    background: #000;
    border: 1px solid #fff;
    border-radius: 80px;
    font-family: 'Futura LT';
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #fff;
    transition: var(--transition);
}

.contact__input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    transition: var(--transition);
    opacity: 1;
}

.contact__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 80px;
    width: 146px;
    background: #fff;
    font-family: 'Futura LT';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #000;
    transition: var(--transition);
}

.contact__input:hover {
    border: 1px solid #ba0000;
}

.contact__input:hover::placeholder {
    color: #fff;
}

.contact__input:focus {
    border: 1px solid #ba0000;
}

.contact__input:focus::placeholder {
    color: #fff;
}

.contact__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.contact__button:hover {
    background: #ba0000;
    color: #fff;
}

.block__logo {
    display: block;
    margin-top: 88px;
    max-width: 240px;
}

.block__logo img {
    width: 100%;
}

/* =================================== */

.footer__bottom-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.8fr 1fr 1fr;
    gap: 51px 71px;
}

.footer__bottom-item {
    display: flex;
    flex-direction: column;
}

.footer__bottom-item:nth-child(3) {
    grid-column: 1 / 2;
}

.footer__bottom-item:nth-child(3) .footer__bottom-title {
    margin-bottom: 0;
}

.footer__bottom-item:nth-child(4) .footer__bottom-title {
    margin-bottom: 0;
}

.footer__bottom-item:nth-child(5) {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.footer__bottom-title {
    margin-bottom: 8px;
    font-family: 'Futura XBlkCnIt BT';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.footer__bottom-link {
    margin-top: 16px;
    display: inline-block;
    width: fit-content;
    font-family: 'Futura LtCn BT';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/* =================================== */

.footer__socials-main {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__socials-copy {
    display: flex;
    align-items: center;
}

.footer__socials-copy img {
    margin-left: 9px;
}

.footer__socials-list {
    display: flex;
    gap: 40px;
}