.header {
    background: url("../img/decor/main.png") 50% 50% / 100% no-repeat;
}

.header__top {
    padding: 42px 0 0 0;
}

.container-hdr {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: flex;
    align-items: center;
}

.nav {
    position: absolute;
    z-index: 10;
    margin-left: 88px;

    transform: translateY(-416%);
    transition: var(--transition-burger);
}

.body--opened-menu .nav {
    transform: translateY(0%);
}

.nav__list {
    display: flex;
    text-transform: uppercase;
}

.nav__item:nth-child(1) {
    margin-right: 23px;
}

.nav__item:nth-child(2) {
    margin-right: 37px;
}

.nav__item:nth-child(3) {
    margin-right: 32px;
}

.nav__link {
    position: relative;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -48px;
    width: 100%;
    height: 6px;
    background: #BA0000;
    transform: translateY(-100%);
    transition: var(--transition);
}

.nav__link:hover::before {
    transform: translateY(0%);
}

.header__logo {
    max-width: 80px;
}

.header__logo img {
    width: 100%;
}

.header__icons {
    display: flex;
    gap: 40px;
}

/* =========== Настройка бургер меню ============== */

.burger-icon {
    padding-top: 6px;
    margin-right: 40px;
    display: flex;
    width: 48px;
    height: 24px;
    align-items: start;
    justify-content: center;
    z-index: 11;

    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 100px;
    background: #fff;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: 5px;
}

.burger-icon span::after {
    bottom: -10px;
}

.body--opened-menu .burger-icon span::before {
    width: 26px;
}

.body--opened-menu .burger-icon span::after {
    width: 13px;
}