.header {
    background: url("../img/decor/main.png") 50% 50% / cover no-repeat;
}

.header__top {
    padding: 42px 0 0 0;
}

.container-hdr {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header__inner {
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: flex;
    align-items: center;
}

.nav {
    position: absolute;
    z-index: 10;
    margin-left: 88px;

    transform: translateY(-416%);
    transition: var(--transition-burger);
}

.body--opened-menu .nav {
    transform: translateY(0%);
}

.nav__list {
    display: flex;
    text-transform: uppercase;
}

.nav__item:nth-child(1) {
    margin-right: 23px;
}

.nav__item:nth-child(2) {
    margin-right: 37px;
}

.nav__item:nth-child(3) {
    margin-right: 32px;
}

.nav__link {
    position: relative;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -48px;
    width: 100%;
    height: 6px;
    background: #BA0000;
    transform: translateY(-100%);
    transition: var(--transition);
}

.nav__link:hover::before {
    transform: translateY(0%);
}

.header__logo {
    max-width: 80px;
}

.header__logo img {
    width: 100%;
}

.header__icons {
    display: flex;
    gap: 40px;
}

/* =========== Затемнение фона ============== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-burger);
}

/* =========== Настройка бургер меню ============== */

.burger-icon {
    padding-top: 6px;
    margin-right: 40px;
    display: flex;
    width: 48px;
    height: 24px;
    align-items: start;
    justify-content: center;
    z-index: 11;
    transform: translateX(0px);
    transition: var(--transition-burger);

    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 100px;
    background: #fff;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: 5px;
}

.burger-icon span::after {
    bottom: -10px;
}

.body--opened-menu .burger-icon span::before {
    width: 26px;
}

.body--opened-menu .burger-icon span::after {
    width: 13px;
}

@media (max-width: 1200px) {
    .body--opened-menu {
        overflow: hidden;
    }

    .body--opened-menu .burger-icon {
        transform: translateX(285px);
        padding-top: 10px;
        background: #000;
        width: 48px;
        height: 32px;
    }

    .burger-icon {
        margin-right: 0;
    }

    .body--opened-menu .overlay {
        opacity: 1;
        visibility: visible;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #000;
        width: 300px;
        height: 100vh;
        inset: 0;
        margin-left: 0;
        transform: translate(-100%, 0%);
    }

    .body--opened-menu .nav {
        transform: translate(0%, 0%);
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__item {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .nav__item:nth-child(1) {
        margin-top: 0;
    }

    .nav__item:nth-child(1),
    .nav__item:nth-child(2),
    .nav__item:nth-child(3) {
        margin-right: 0;
    }

    .nav__link::before {
        top: -20px;
        width: 0%;
        transform: translateY(0%);
    }

    .nav__link:hover::before {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .header__icons {
        margin-top: 70px;
    }
}