.logos {
    padding-top: 271px;
}

.logos__main {
    min-height: 120px;
}

.logos__wrapper {
    height: 120px;
    display: flex;
    align-items: center;
    transition-timing-function: linear !important;
}

.logos__slide {
    width: 100px;
    height: auto;
    pointer-events: none;
}

.logos__slide img {
    max-width: 100%;
}