.header__main {
    position: relative;
    padding-top: 118px;
}

.slider {
    display: flex;
    gap: 15px;
}

.slider-swiper {
    overflow: hidden;
    position: relative;
    left: 65px;
}

.slider-sneakers {
    margin: 173px 0 0 0;
    max-width: 1040px;
    height: 195px;
    overflow: visible !important;
}

.slider-slide {
    width: 320px;
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid #fff;
    height: 100%;
    font-family: 'Futura LtCn BT';
    font-weight: 400;
    font-size: 24px;
    line-height: 0%;
    text-transform: uppercase;
}

.slider-slide_img {
    z-index: 10;
    margin-bottom: 41px;
    max-width: 229px;
}

.slider-slide_img img {
    width: 100%;
}

.slide-title {
    margin: 0 0 61px 10px;
}

.slider-arrow {
    margin-top: calc(54px + 173px);
    display: flex;
    gap: 44px;
}

.slider-prev,
.slider-next {
    display: flex;
    align-items: center;
    background: none;
    height: 32px;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
}

/* ====================== */

.main__promo {
    position: relative;
    display: flex;
}

.main__promo p {
    padding-left: 4px;
    z-index: 0;
    position: absolute;
    top: 44px;
    left: -12px;
    font-family: 'Futura';
    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    opacity: 0.1;
}

.main__sneaker-img {
    position: relative;
    z-index: 1;
    margin-left: 43px;
    max-width: 623px;
}

.main__sneaker-img::before {
    content: '';
    position: absolute;
    top: 40.26%;
    left: 34.99%;
    width: 56px;
    height: 56px;
    background: url('../img/icons/plus1.svg') 50% 50% / 50% no-repeat;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #1b355980;
    border-radius: 100%;
    cursor: pointer;
}

.main__sneaker-img::after {
    content: '';
    position: absolute;
    bottom: 26.39%;
    right: 4.49%;
    width: 56px;
    height: 56px;
    background: url('../img/icons/plus2.svg') 50% 50% / 50% no-repeat;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #1b3559;
    border-radius: 100%;
    cursor: pointer;
}

.sneaker {
    width: 100%;
    pointer-events: none;
}

.sneaker-line-review {
    max-width: 562px;
    position: absolute;
    bottom: -11.63%;
    left: 10.27%;
}

.sneaker-line {
    width: 100%;
    pointer-events: none;
}

.sneaker-review {
    display: flex;
    justify-content: center;
}

/* ====================== */

.main__character {
    z-index: 1;
    margin: 116px 0 0 91px;
    max-width: 492px;
}

.main__character-title {
    font-family: 'Futura Md BT';
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 7.1px;
    font-style: italic;
    margin-bottom: 32px;
}

.main__character-price-size {
    display: flex;
    align-items: center;
}

.main__character-shop {
    margin-left: 41px;
    margin-bottom: 5px;
    cursor: pointer;
}

.main__character-price {
    font-family: 'Futura Hv BT';
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.main__character-size {
    margin-left: 164px;
    display: flex;
    align-items: center;
}

.main__character-text {
    margin-right: 19px;
    font-family: 'Futura Bk BT';
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.size {
    position: relative;
}

.size-toggle {
    display: none;
}

.size-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#selected-value {
    font-family: 'Futura Hv BT';
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.size-arrow {
    margin-bottom: 6px;
    padding: 5px 0;
    transition: var(--transition);
}

.size-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 10;
}

.size-toggle:checked~.size-options {
    display: block;
}

.size-toggle:checked+.size-trigger img {
    transform: rotate(-180deg);
}

.size-options li {
    color: #000;
    background: #fff;
    transition: var(--transition);
}

.size-options li:hover {
    color: #fff;
    background: #BA0000;
}

.size-options label {
    display: flex;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
}


.size-options input {
    display: none;
}

.main__character-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    margin-top: 25px;
    max-width: 131px;
    border: 1px solid #ffffff;
    border-radius: 36px;

    font-family: 'Futura Bk BT';
    font-size: 12px;
    font-weight: 400;
}

/* ====================== */

.main__arc {
    z-index: 1;
    position: absolute;
    left: -82px;
    max-width: 138.45px;
}

.main__arc img {
    width: 100%;
    pointer-events: none;
}

.main__color {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: all .1s;
}

.main__color:hover {
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
}

.main__color-1 {
    content: '';
    position: absolute;
    background: #973030;

    top: -1.04%;
    left: -4.33%;
}

.main__color-1:hover {
    top: -1.87%;
    left: -7.22%;
}

.main__color-2 {
    content: '';
    position: absolute;
    background: #9B0E95;

    top: 12.48%;
    left: 43.34%;
}

.main__color-2:hover {
    top: 11.65%;
    left: 40.45%;
}

.main__color-3 {
    content: '';
    position: absolute;
    background: #002B7B;

    top: 27.88%;
    left: 78.01%;
}

.main__color-3:hover {
    top: 27.04%;
    left: 75.12%;
}

.main__color-4 {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: #000000;
    border: 3px solid #fff;

    top: 47.43%;
    left: 90.5%;
}

.main__color-5 {
    content: '';
    position: absolute;
    background: #A8000A;

    top: 68.86%;
    left: 78.01%;
}

.main__color-5:hover {
    top: 68.03%;
    left: 75.12%;
}

.main__color-6 {
    content: '';
    position: absolute;
    background: #86942F;

    top: 84.88%;
    left: 43.34%;
}

.main__color-6:hover {
    top: 84.05%;
    left: 40.45%;
}

.main__color-7 {
    content: '';
    position: absolute;
    background: #3D996D;

    top: 97.78%;
    left: -4.33%;
}

.main__color-7:hover {
    top: 96.94%;
    left: -7.22%;
}

/* ====================== */

.loop,
.loop2 {
    position: absolute;
    bottom: -63px;
    left: 50%;
    transform: translateX(-50%) rotate(-2deg);
    max-width: 5200px;
    height: 80px;
    background: #BA0000;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.loop2 {
    transform: translateX(-50%) rotate(3deg);
    background: #000;
    bottom: -65px;
}

.loop-wrapper {
    transition-timing-function: linear !important;
}

.loop-slide {
    display: flex;
    align-items: center;
    width: auto;
    font-family: 'Futura XBlkIt BT';
    font-style: italic;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 1em;
}

@media (max-width: 1500px) {
    .main__sneaker-img {
        max-width: 523px;
    }

    .main__arc {
        left: -34px;
        max-width: 118.45px;
    }

    .main__color {
        width: 14px;
        height: 14px;
    }

    .main__color:hover {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
    }

    .main__color-4 {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
    }
}

@media (max-width: 1400px) {
    .main__arc {
        display: none;
    }

    .main__promo p {
        padding-left: 4px;
        left: 40px;
        font-size: 113px;
    }

    .slider-swiper {
        position: static;
        left: 0;
    }
}

@media (max-width: 1300px) {
    .main__promo p {
        left: 180px;
        font-size: 105px;
    }

    .slider {
        justify-content: center;
        gap: 80px;
    }

    .slider-sneakers {
        max-width: 680px;
    }
}

@media (max-width: 1260px) {
    .main__promo p {
        left: 133px;
    }
}

@media (max-width: 1200px) {
    .main__sneaker-img {
        max-width: 472px;
        margin-left: 0;
    }

    .main__sneaker-img::before,
    .main__sneaker-img::after {
        width: 46px;
        height: 46px;
    }

    .main__character-title {
        font-size: 40px;
    }

    .main__character-price {
        font-size: 31px;
    }

    #selected-value {
        font-size: 31px;
    }

    .main__promo p {
        left: 172px;
        font-size: 97px;
    }
}

@media (max-width: 1150px) {
    .main__promo p {
        left: 108px;
        font-size: 88px;
    }
}

@media (max-width: 1100px) {
    .main__promo {
        justify-content: center;
    }

    .main__sneaker-img {
        max-width: 400px;
    }

    .main__sneaker-img::before,
    .main__sneaker-img::after {
        width: 40px;
        height: 40px;
    }

    .main__sneaker-img::before {
        top: 40.26%;
    }

    .main__sneaker-img::after {
        bottom: 26.39%;
    }

    .sneaker-line-review {
        bottom: -13.63%;
    }

    .sneaker-review a {
        max-width: 35px;
    }

    .sneaker-review a img {
        width: 100%;
    }

    .main__character {
        margin: 60px 0 0 60px;
    }

    .main__promo p {
        top: 10px;
        left: 53px;
        font-size: 84px;
    }

    .slider {
        gap: 15px;
    }

    .loop,
    .loop2 {
        height: 70px;
    }

    .loop-slide {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .main__promo {
        flex-direction: column;
        align-items: center;
    }

    .main__sneaker-img {
        margin-left: -70px;
        max-width: 550px;
    }

    .main__sneaker-img::before,
    .main__sneaker-img::after {
        width: 50px;
        height: 50px;
    }

    .sneaker-line-review {
        bottom: -11.63%;
    }

    .sneaker-review a {
        max-width: 40px;
    }

    .main__character {
        margin: 90px 0 0 20px;
    }

    .main__character-title {
        font-size: 48px;
    }

    .main__character-price {
        font-size: 36px;
    }

    #selected-value {
        font-size: 36px;
    }

    .main__promo p {
        display: none;
    }

    .slider-sneakers {
        max-width: 520px;
    }
}

@media (max-width: 800px) {
    .slider {
        flex-direction: column;
        align-items: center;
    }

    .slider-arrow {
        margin: 80px -336px 0 0;
    }

    .slider-swiper {
        max-width: 520px;
    }

    .slider-sneakers {
        margin: 50px 0 0 0;
    }
}

@media (max-width: 600px) {
    .header__main {
        padding-top: 80px;
    }

    .main__sneaker-img {
        max-width: 435px;
    }

    .main__sneaker-img::before,
    .main__sneaker-img::after {
        width: 40px;
        height: 40px;
    }

    .sneaker-review a {
        max-width: 35px;
    }

    .main__character {
        margin: 90px 0 0 0px;
        max-width: 408px;
    }

    .main__character-title {
        font-size: 38px;
    }

    .main__character-price {
        font-size: 30px;
    }

    #selected-value {
        font-size: 30px;
    }

    .slider-arrow {
        margin: 80px -136px 0 0;
    }

    .slider-swiper {
        max-width: 320px;
    }
}

@media (max-width: 500px) {
    .main__sneaker-img {
        max-width: 400px;
    }

    .main__character {
        max-width: 359px;
    }

    .main__character-title {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 18px;
    }

    .main__character-price {
        font-size: 20px;
    }

    #selected-value {
        font-size: 20px;
    }
}

@media (max-width: 430px) {
    .main__sneaker-img {
        margin-left: -44px;
        max-width: 365px;
    }

    .main__sneaker-img::before,
    .main__sneaker-img::after {
        width: 35px;
        height: 35px;
    }

    .sneaker-line-review {
        bottom: -15.63%;
    }

    .main__character {
        max-width: 309px;
    }

    .main__character-size {
        margin-left: 106px;
    }
}