.sportstime {
    padding-top: 160px;
}

.sportstime__main {
    scroll-margin-top: 80px;
    z-index: 1;
}

.sportstime__title {
    margin: 0 auto;
    max-width: 423px;
}

.sportstime__title img {
    width: 100%;
}

.sportstime__product {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.gap {
    grid-column: 2;
}

.sportstime__product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.sneakers {
    margin-bottom: -35px;
    z-index: 2;
}

.sportstime__product-platform {
    z-index: 1;
}

.sportstime__protuct-title {
    margin-top: 16px;
    font-family: 'Futura LtCn BT';
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
}

.sportstime__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 121px auto 0;
    border: 1px solid #fff;
    border-radius: 36px;
    width: 204px;
    height: 48px;
    font-family: 'Futura Bk BT';
    font-weight: 400;
    font-size: 16px;
    line-height: 75%;
}

.sportstime__button img {
    max-width: 24px;
}

/* Slider */

.sportstime-slider {
    margin-top: 120px;
    display: none;
    max-width: 640px;
}

.sportstime-wrapper {
    align-items: end;
}

.sportstime-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 300px;
}

.sneakers-img {
    max-width: 234px;
    margin-bottom: -8.6%;
    z-index: 1;
}

.platform {
    width: 100%;
}

.sportstime-slide-title {
    margin-top: 16px;
    font-family: 'Futura LtCn BT';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
}

@media (max-width: 1400px) {
    .sportstime__product {
        place-content: center;
        grid-template-columns: repeat(2, 0.3fr);
    }

    .sportstime__product-item {
        max-width: 400px;
    }

    .gap {
        grid-column: 1;
    }
}

@media (max-width: 1000px) {
    .sportstime__product {
        display: none;
    }

    .sportstime-slider {
        display: block;
    }
}

@media (max-width: 700px) {
    .sportstime__title {
        max-width: 300px;
    }
    .sportstime-slider {
        margin-top: 70px;
        max-width: 490px;
    }
}

@media (max-width: 600px) {
    .sportstime-slider {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .sportstime__title {
        max-width: 230px;
    }
}