.sportstime {
    padding-top: 160px;
}

.sportstime__title {
    font-family: 'Futura XBlkIt BT';
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    text-transform: capitalize;
    transform: rotate(-11deg);
}

.sportstime__title span {
    position: relative;
}

.sportstime__title span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 237px;
    height: 78px;
    /* transform: rotate(146deg); */
    mix-blend-mode: multiply;
    background: url(../img/flag.png) 50% 50% / 100% no-repeat;
}