.bestsellers {
    padding-top: 212px;
}

.bestsellers__main {
    scroll-margin-top: 80px;
}

.bestsellers__title {
    margin-top: 19px;
    font-family: 'Futura Md BT';
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
}

.bestsellers__title span {
    position: relative;
}

.bestsellers__title span::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 287px;
    height: 55px;
    background: #ba0000;
    transform: rotate(11deg);
    mix-blend-mode: multiply;
}

.bestsellers__photo {
    margin-top: 107px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.bestsellers__photo-img {
    position: relative;
    max-width: 416px;
}

.bestsellers__photo-img img {
    width: 100%;
}

.bestsellers__photo-title {
    position: absolute;
    right: 1.92%;
    bottom: 1.43%;
    font-family: 'Futura Md BT';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

/* Слайдер */

.bestsellers-slider {
    display: none;
    margin-top: 107px;
    max-width: 616px;
}

.bestsellers-slide {
    position: relative;
    width: 300px;
}

.bestsellers-slide img {
    width: 100%;
}

.bestsellers-slide-title {
    position: absolute;
    right: 1.92%;
    bottom: 1.43%;
    font-family: 'Futura Md BT';
    font-style: italic;
    font-weight: 700;
    font-size: 46px;
    line-height: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

@media (max-width: 1400px) {
    .bestsellers__photo-img {
        max-width: 350px;
    }

    .bestsellers__photo-title {
        font-size: 53px;
    }
}

@media (max-width: 1200px) {
    .bestsellers__photo-img {
        max-width: 300px;
    }

    .bestsellers__photo-title {
        font-size: 46px;
    }
}

@media (max-width: 1000px) {
    .bestsellers__photo {
        display: none;
    }

    .bestsellers-slider {
        display: block;
    }
}

@media (max-width: 700px) {
    .bestsellers__title {
        font-size: 40px;
    }

    .bestsellers__title span::before {
        top: -7px;
        width: 131px;
        height: 41px;
    }

    .bestsellers-slider {
        max-width: 466px;
    }
}

@media (max-width: 550px) {
    .bestsellers-slider {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .bestsellers__title {
        font-size: 33px;
    }

    .bestsellers__title span::before {
        top: -4px;
        width: 109px;
        height: 32px;
    }
}